
/* Utilities */
.justifySelfStart {
  justify-self: start;
}

.justifySelfEnd {
  justify-self: end;
}

.justifySelfCenter {
  justify-self: center;
}

.alignSelfCenter {
  align-self: center;
}

.alignItemsCenter {
  align-items: center;
}

.alignItemsStart {
  align-items: start;
}

.alignItemsEnd {
  align-items: end;
}

.alignContentStart {
  align-content: start;
}

.textCenter {
  text-align: center;
}

.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

/* Global Styles */
body {
  font-family: Helvetica, Arial, Sans-serif;
}

/* More Semantic */
header, footer {
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  color: grey;
  font-family: sans-serif;
  font-size: .8rem;
  min-height: 5vh;
  max-height: 5vh;
}
header div, footer div {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

header a, footer a {
  display: inline-block;
  text-decoration: none;
  color: grey;
  padding: 0 .25rem;
  text-align: center;
}
header a img {
  border-radius: 24px;
}

main {
  min-height: 80vh;
  max-height: 80vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.logo {
  padding-top: 5vh;
  padding-bottom: 2vh;
  margin: 0 auto;
}

input[type='text'] {
  box-sizing: border-box;
  margin: 5vh 0;
  padding: 2vh;
  border-radius: 4vh;
  border: 1px solid hsl(0,0%,75%);
  color: hsl(0,0%,25%);
  width: 75vw;
  box-shadow: 0px 0px 15px hsl(0,0%,95%);
  transition: 0.3s;
}
input[type='text']:hover {
  box-shadow: 0px 0px 15px hsl(0,0%,65%);
}
::placeholder {
  color: hsl(0,0%,75%);
}
::placeholder:hover {
  color: 0px 0px 15px hsl(0,0%,45%)
}

button {
  background-color: hsl(0,0%,95%);
  border: 0px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1vh;
  font-size: .9rem;
  transition: 0.3s;
}
button:hover {
  box-shadow: 0px 0px 15px hsl(0,0%,65%);
}

main div.col-2 {
  max-width: 50vw;
  margin: 0 auto;
}


.secondaryLanguage {
  font-size: .8rem;
  padding: 2vh;
}

footer {
  background-color: hsl(0,0%,95%);
}
